@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: #f9fafb;
}

.dark body {
  background: #111827;
}

input:not([type="file"]),
select,
textarea {
  font-size: 16px;
}
